html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 125%;
  font-family: "Vollkorn", serif;
}
img {
  width: 70%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
  margin-left: 20px;
}
.wrapper {
  width: 1540px;
  max-width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3,
p,
a,
li {
  color: #f8f8ff;
}

p {
  font-size: 1.8rem;
}

section {
  padding-top: 30px;
}
/* HEADER COMPONENT */

.planets {
  color: black;
  font-size: 6rem;
}
.styleBurger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
}
.border:hover {
  /* color: orange !important;
  text-decoration: dashed; */
  border-bottom: 2px solid orange;
}
/* DESKTOP PAGE FOR PLANETS */
.planetFlex {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

.planetButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bottomUi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.bottomUi li {
  border: 1px solid grey;
  width: calc(25% - 20px);
  padding: 20px;
  margin: 0;
}
.bottomUi li p:nth-child(2) {
  font-size: 2rem;
}

.solarImage {
  text-align: center;
}

@media (max-width: 1220px) {
  h1 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.2rem;
  }
  .bottomUi li p:nth-child(2) {
    font-size: 1.4rem;
  }
}

@media (max-width: 980px) {
  .bottomUi li p:nth-child(1) {
    font-size: 0.9rem;
  }
  .bottomUi li p:nth-child(2) {
    font-size: 1.2rem;
  }

  .planetData {
    width: 70%;
    margin-right: 30px;
  }
}

@media (max-width: 790px) {
  .mainUl {
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: lightcoral;
    width: 250px;
    padding-top: 3.5rem;
    /* display: none; */
  }
  .mainUl li {
    display: none;
  }
  .bottomUi {
    flex-direction: column;
    width: 100%;
  }
  .bottomUi li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .bottomUi li p:nth-child(1) {
    align-self: center;
    font-size: 1.8rem;
  }
  .bottomUi li p:nth-child(1) {
    font-size: 1.8rem;
  }
  .bottomUi li p:nth-child(2) {
    font-size: 1.8rem;
  }
}

@media (max-width: 460px) {
  .bottomUi li p:nth-child(1) {
    font-size: 1.2rem;
  }
  .bottomUi li p:nth-child(2) {
    font-size: 1.2rem;
  }
}
